.tooltip-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

.tooltip-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-content {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;

  background-color: #fff;
  color: #141416;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.tooltip-container:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) scaleX(1);
}

.tooltip-content::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}